<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="apple-mobile-web-app-capable" content="yes"> 
	<meta name="viewport" content="width=device-width, height=device-height, user-scalable=no">

	<title>Invitation Card</title>

	<script type="text/javascript" src="../lib/zepto.min.js"></script>
	<script type="text/javascript" src="../lib/easeljs.min.js"></script>

	<style type="text/css">
		* {
			margin: 0;
			padding: 0;
		}

		html,body {
			width: 100%;
			height: 100%;
		}
		canvas {
			display: block;
		}
	</style>
</head>
<body>
	<canvas id="canvas"></canvas>

	<script type="text/javascript">
		(function() {
			var deviceWidth = $(window).width();
			var deviceHeight = $(window).height();
			$('#canvas').width(deviceWidth);
			$('#canvas').height(deviceHeight);
			$('#canvas').attr('width',deviceWidth);
			$('#canvas').attr('height',deviceHeight);

			var img = new Image();
			img.src = "images/fg.jpg";
			img.onload = handleImageLoad;

			var strokeImg = new Image();
			strokeImg.src = "images/stroke.jpg"

			var stage = new createjs.Stage(document.getElementById('canvas'));

			function handleImageLoad() {
				var imgContaniner = new createjs.Container();
				imgContaniner.setBounds(0,0,200,380);
				imgContaniner.x = deviceWidth / 2 - 100;
				imgContaniner.y = 50;
				//image pic
				var bitmap = new createjs.Bitmap(img);
				bitmap.scaleX = 0.55;
				bitmap.scaleY = 0.55;
		        //image fliters
		        //var bitmapClone = bitmap.clone();

		        //img mask
		        var star = new createjs.Shape();
		        star.graphics.beginBitmapStroke(strokeImg).drawEllipse(0,0,200,350);
		        bitmap.mask = star;

		        //img fliter mask
		        var starFliter = new createjs.Shape();
		        starFliter.graphics.drawEllipse(28,13,212,352);
		        //bitmapClone.mask = starFliter;

		        //image fliters
		        var blurFilter = new createjs.BlurFilter(10, 10, 12);
		       	//bitmapClone.fliters = [blurFilter];

		        imgContaniner.addChild(bitmap);

		        //var blurFilter = new createjs.BlurFilter(10, 10, 10);

				
				// var star = new createjs.Shape();
				// star.x = 240;
				// star.y = 170;
				// star.graphics.beginFill('#3FBC1B').drawCircle(0,0,130);
				//star.filters = [blurFilter];
				//bitmap.mask = star;

				//bg
				var bg = new createjs.Shape();
				bg.graphics.beginFill('#FF0000').rect(0,0,deviceWidth,deviceHeight);

				stage.addChild(imgContaniner);
				stage.update();
			}
			
		})();
	</script>
</body>
</html>